.logo-image {
	float: left;
}

div {
	overflow: hidden;
}

a {
	text-decoration: none;
	font-size: 70%;
	white-space: normal;
	color: #3a4099;
	font-weight: 600;
}

a:hover {
	color: #f9a11b;
}

a:active {
	color: black;
}

.example-spacer {
	flex: 1 1 auto;
}
