header {
  position: auto;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('./images/monitor-hbase.jpg');
  color: #3a4099;
}
header .header-content {
  position: relative;
  padding: 70px 100px;
  width: 100%;
}

/* untuk dekstop higher resolution */
@media (min-width: 1281px) {
  header {
    min-height: 90%;
    width: 100%;
    color: #3a4099;
  }
  header .header-content h1 {
    position: absolute;
    top: 30%;
    left: 8%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    padding: 0 50px;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  .calendar{
    margin-top: -4%;
    margin-left: 160px;
    width: 320px;
    font-weight: 500;
    color: #3a4099;

  }
  
 .datepicker {
    margin-left: 440px;
    margin-top: -40px;
  }
  
 .tableName {
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 160px;
    width: 320px;
    border-color: grey;
    font-weight: 500;
    color: #3a4099;
  }
  
  button {
    background-color: #f8a118;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 160px;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn:hover{
    background: #3a4099;
  }
  .btn:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
  .example-container {
    position: relative;
    width: 350px;
    height: 255px;
    left: 170px;
    margin-top: 20px;
    overflow: auto;
    background-color: white;
    overflow: auto;
    position: absolute;
  }
  
  table {
    width: 100%;
  }
  
  img {
    margin-left: 150px;
  }
  .form-control{
    border-radius: 2.1875rem;
  }
  .form-control:focus {
    border-color: #f9a11b;
  }

  .form-control:hover {
    border-color: #f9a11b;
  }
}

/* untuk device laptop dan dekstop */
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    min-height: 100%;
    color: #3a4099;
  }
  header .header-content h1 {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    padding: 0 50px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 45px;
  }

  .calendar {
    width: 320px;
    margin-left: 145px;
    font-weight: 500;
    color: #3a4099;
  }

  .datepicker {
    margin-left: 420px;
    margin-top: -40px;
  }

  .tableName {
    margin-top: 10px;
    width: 320px;
    margin-left: 145px;
    font-weight: 500;
    color: #3a4099;
  }

  .example-container {
    position: relative;
    width: 350px;
    height: 255px;
    left: 135px;
    margin-top: 20px;
    overflow: auto;
    background-color: white;
    overflow: auto;
    position: absolute;
  }

  button {
    background-color: #f8a118;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 145px;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  table {
    width: 100%;
  }
  .btn:hover{
    background: #3a4099;
  }
  .btn:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
  .form-control{
    border-radius: 2.1875rem;
  }
  .form-control:focus {
    border-color: #f9a11b;
  }

  .form-control:hover {
    border-color: #f9a11b;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    min-height: 90%;
    width: 100%;
    color: #3a4099;
  }
  header .header-content h1{
    position: absolute;
    top: 60%;
    left: 14%;
    transform: translateY(-30%);
    padding: 0 50px;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 40px;
  }
  .calendar{
    margin-left: 180px;
    width: 320px;
    font-weight: 500;
    color: #3a4099;

  }
  
 .datepicker {
    margin-left: 450px;
    margin-top: -40px;
  }
  
 .tableName {
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 180px;
    width: 320px;
    border-color: grey;
    font-weight: 500;
    color: #3a4099;
  }
  
  button {
    background-color: #f8a118;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 180px;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn:hover{
    background: #3a4099;
  }
  .btn:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
  .example-container {
    position: relative;
    width: 350px;
    height: 255px;
    left: 170px;
    margin-top: 20px;
    overflow: auto;
    background-color: white;
    overflow: auto;
    position: absolute;
  }
  
  table {
    width: 100%;
  }
  
  img {
    margin-left: 150px;
  }
  .form-control{
    border-radius: 2.1875rem;
  }
  .form-control:focus {
    border-color: #f9a11b;
  }

  .form-control:hover {
    border-color: #f9a11b;
  }
}

 /* untuk low resolutions tablet, mobiles landscape */
 @media (min-width: 481px) and (max-width: 767px) {
  header {
    min-height: 90%;
    width: 100%;
    color: #3a4099;
  }
  header .header-content h1{
    position: absolute;
    top: 60%;
    left: 30%;
    font-weight: 700;
    margin-top: -10px;
    margin-bottom: 0;
    font-size: 30px;
  }

  .calendar{
    margin-left: 180px;
    width: 320px;
    font-weight: 500;
    color: #3a4099;
  }
  
 .datepicker {
    margin-left: 450px;
    margin-top: -40px;
  }
  
 .tableName {
    margin-top: 10px;
    margin-right: 400px;
    margin-left: 180px;
    width: 320px;
    border-color: grey;
    font-weight: 500;
    color: #3a4099;
  }
  
  button {
    background-color: #f8a118;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 180px;
    margin-top: 15px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn:hover{
    background: #3a4099;
  }
  .btn:disabled, button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
  .example-container {
    position: relative;
    width: 350px;
    height: 255px;
    left: 170px;
    margin-top: 20px;
    overflow: auto;
    background-color: white;
    overflow: auto;
    position: absolute;
  }
  
  table {
    width: 100%;
  }
  
  img {
    margin-left: 150px;
  }
  .form-control{
    border-radius: 2.1875rem;
  }
  .form-control:focus {
    border-color: #f9a11b;
  }

  .form-control:hover {
    border-color: #f9a11b;
  }
  }

/* untuk mobile potrait */
@media (min-width: 320px) and (max-width: 480px) {
  header {
    min-height: 85%;
    width: 100%;
    color: #3a4099;
  }
  header .header-content h1{
    position: absolute;
    top: 50%;
    left: 18%;
    font-weight: 700;
    margin-top: -10px;
    font-size: 25px;
  }
  .calendar {
    margin-top: -4%;
    margin-left: 15%;
    width: 70%;
    font-weight: 500;
    color: #3a4099;
  }
  .datepicker {
    margin-left: 72%;
    margin-top: -11%;
  }
  .tableName {
    margin-left: 15%;
    width: 70%;
    font-weight: 500;
    color: #3a4099;
  }
  button {
    margin-left: 15%;
    margin-top: 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f8a118;
    color: white;
    font-weight: 500;
    border-radius: 20px;
  }
  .btn:hover{
      background: #3a4099;
    }
    .btn:disabled, button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      pointer-events: none;
    }
  .example-container {
    margin-top: 6%;
    margin-left: 10%;
    width: 80%;
    height: 35%;
    background-color: white;
    position: absolute;
    overflow: auto;
  }

  img {
    margin-left: 32%;
    margin-top:3%;
  }
  .form-control{
      border-radius: 2.1875rem;
    }
    .form-control:focus {
      border-color: #f9a11b;
    }

    .form-control:hover {
      border-color: #f9a11b;
    }
    table {
      width: 100%;
      
    }
    
    
  }