header {
  overflow: hidden;
  position: auto;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('./images/kafka.jpg');
  color: #3a4099;
}

header .header-content {
  position: relative;
  padding: 50px 15px 100px;
  width: 100%;
}

/* untuk dekstop higher resolution */
@media (min-width: 1281px) {
  header {
    height: 90%;
    width: 100%;
  }
  header .header-content{
    position: absolute;
    top: 12%;
    left: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-30%);
  }

  h1 {
    font-weight: 700;
    font-size:50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10%;;
  }

  table {
    background: #f4edf5;
    font-weight: 600;
    width: 88%;
    font-size: 20%;
    margin: 6%;
  }

  .example-container {
    background: #8d97cc;
    margin-top: 7%;
    height: 70%;
    overflow: auto;
    width: 35%;
    margin-left: 60%;
    border-radius: 1.5em;
  }
}

/* untuk device laptop dan dekstop */
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    min-height: 100%;
  }
  header .header-content{
    position: absolute;
    top: 7%;
    left: 50%;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    padding: 0 50px;
  }
  
  h1 {
    font-weight: 700;
    font-size:50px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10%;;
  }

  table {
    background: #f4edf5;
    font-weight: 600;
    width: 90%;
    font-size: 15%;
    margin: 6%;
  }

  .example-container {
    background: #8d97cc;
    margin-top: 7%;
    height: 50%;
    overflow-y: auto;
    width: 50%;
    margin-left: 45%;
    border-radius: 1.5em;
  }
 
}

/* untuk device tablet dan ipad potrait*/
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    min-height: 90%;
    width: 100%;
  }
  header .header-content{
    position: absolute;
    top: 10%;
    left: 33%;
    transform: translateY(-30%);
    padding: 0 50px;
  }

  h1 {
    font-weight: 700;
    font-size:25px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10%;;
  }

  table {
    background: #f4edf5;
    font-weight: 600;
    width: 88%;
    font-size: 20%;
    margin: 6%;
  }

  .example-container {
    background: #8d97cc;
    margin-top: 7%;
    height: 70%;
    overflow: auto;
    width: 35%;
    margin-left: 33%;
    border-radius: 1.5em;
  }
 
}

/* untuk low resolutions tablet, mobiles landscape */
@media (min-width: 481px) and (max-width: 767px) {
  header {
    min-height: 90%;
    width: 100%;
  }
  header .header-content{
    position: absolute;
    left: 33%;
  }
  
  h1 {
    font-weight: 700;
    font-size:25px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10%;;
  }

  table {
    background: #f4edf5;
    font-weight: 600;
    width: 88%;
    font-size: 20%;
    margin: 6%;
  }

  .example-container {
    background: #8d97cc;
    margin-top: 7%;
    height: 70%;
    overflow: auto;
    width: 35%;
    margin-left: 30%;
    border-radius: 1.5em;
  }
}

/* untuk mobile potrait */
@media (min-width: 320px) and (max-width: 480px) {
  header {
    overflow: inherit;
    min-height: 85%;
    width: 100%;
  }
  header .header-content {
    top: 0%;
    position: absolute;
    left: 12%;
  }

  
  h1 {
    font-weight: 700;
    font-size:30px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    margin-bottom: 10%;;
  }

  table {
    background: #f4edf5;
    font-weight: 600;
    width: 88%;
    font-size: 15%;
    margin: 6%;
  }

  .example-container {
    background: #8d97cc;
    margin-top: 7%;
    height: 70%;
    overflow: auto;
    overflow-y: auto;
    width: 90%;
    margin-left: 6%;
    border-radius: 1.5em;
  }

}
